<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form label" style="
                    color: #df7186;">Employee code</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form label" style="
                    color: #df7186;">Employee Name</label>
                    <input name="name"[(ngModel)]="name" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form label" style="
                    color: #df7186;">Designation</label>
                    <input name="designation"[(ngModel)]="designation" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form label" style="
                    color: #df7186;">Salary</label>
                    <input name="salary"[(ngModel)]="salary" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form label" style="
                    color: #df7186;">Company</label>
                    <input name="company"[(ngModel)]="company" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form label" style="
                    color: #df7186;">E-mail</label>
                    <input name="email"[(ngModel)]="email" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form label" style="
                    color: #df7186;">Company Website</label>
                    <input name="comweb"[(ngModel)]="comweb" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form label" style="
                    color: #df7186;">Year of Experience</label>
                    <input name="yop"[(ngModel)]="yop" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button (click)="readValues()"  class="btn btn-primary">Submit</button>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <a href=""class="btn btn-primary">logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
